:root {
    --black--: rgb(35, 31, 32);
    --orc-background--: rgba(16, 73, 16, 0.7);
    --tieffelin-background--: rgba(21, 115, 131, 0.7);
    --nain-background--: rgba(205, 79, 33, 0.7);
    --orc-background-profile--: rgba(16, 73, 16, 0.3);
    --tieffelin-background-profile--: rgba(21, 115, 131, 0.3);
    --nain-background-profile--: rgba(205, 79, 33, 0.2);
    --orc-font--: rgb(16, 73, 16);
    --tieffelin-font-- : rgba(21, 115, 131);
    --nain-font-- : rgba(205, 79, 33);
}


.profile-container {
    position: relative;
    top: 5vh;
    left: 14vw;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 800px;
    border: solid black 3px;
    border-radius: 10px;
    gap: 20px;
    background-image: url(../pictures/fond_parchemin.png);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#varam-profile {
    background-color: var(--orc-background--);
}
#barlow-profile {
    background-color: var(--tieffelin-background--);
}
#momo-profile {
    background-color: var(--nain-background--);
}


/* Left profile part (Picture / Basics)*/
.profile-basics {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    align-items: center;
}
.profile-picture img {
    width: 280px;
    height: 550px;
    object-fit: cover;
    border-radius: 5px;
    border: solid gray 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.profile-constants-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 10px;

}
.important-attributs-container {
    display: flex;
    width: 280px;
    justify-content: space-between;
    object-position: center;
}
.important-attribut-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.important-attribut {
    position: absolute;
    font-size: 26px;
}
.important-attribut-image {
    width: 80px;
}
.profile-race {
    font-size: 26px;
    text-shadow: 0px 0px 2px black;
}
#varam-profile .profile-race {
    color: var(--orc-font--);
}
#barlow-profile .profile-race {
    color: var(--tieffelin-font--);
}
#momo-profile .profile-race {
    color: var(--nain-font--);
}

/* Middle profile part (Name / Stats)*/
.profile {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* Profile Name Design*/
.profile-name-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.profile-name-ornement {
    width: 80%;
}
.profile-name {
    position: absolute;
    top: 14%;
    left: 37%;
    font-size: 45px;
}
#varam-profile .profile-name {
    color: var(--orc-font--);
}
#barlow-profile .profile-name {
    color: var(--tieffelin-font--);
}
#momo-profile .profile-name {
    color: var(--nain-font--);
}


.profile-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    gap: 10px;
}
.profile-display-header {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    margin-left: 1px;
}

.header-category {
    display: flex;
    align-items: center;
    font-size: 24px;
    height: 100%;
    margin-left: -1px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
#inventory {
    border-bottom: solid var(--black--) 2px;
}


/* Profile Section Design*/ 

.profile-section-container {
    background-image: url(/pictures/fond_parchemin.png);
    background-blend-mode: multiply;
    border: solid var(--black--) 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    height: 550px;
    border-radius: 10px;
}
#varam-profile .profile-section-container {
    background-color: var(--orc-background-profile--);
}
#barlow-profile .profile-section-container {
    background-color: var(--tieffelin-background-profile--)
}
#momo-profile .profile-section-container {
    background-color: var(--nain-background-profile--);
}

/* Profile Attributs */

.profile-attributs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.attribut-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.attribut {
    position: absolute;
    font-size: 26px;
}
.sub-attribut {
    position: absolute;
    bottom: 8px;
    font-size: 18px;
}
.attribut-image {
    width: 95px;
    border-radius: 10px;
}

/* Main Section Design*/
/* Switching between section*/ 

.spells, .history {
    display:none;
}

/* Histoire */

.profile-section-histoire {
    margin: 10px;
}
.section-title {
    display: block;
    border-bottom: solid black 2px;
    font-size: 25px;

}
.section-histoire-contenu {
    margin: 10px;
    font-family: Philosopher;
}

/* Inventaire */
    /* Armes */
.inventaire-armes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 5px;
}
.inventaire-title {
    height: 28px;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: solid black 2px;

}

.arme-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border-color: black;
    border: solid;
    background-color: rgba(255, 255, 255, 0.5);
    border-width: 1.5px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    position: relative;
    padding-bottom: 17px;
    min-width: 170px;
}
.arme-image {
    height: 90px;
    min-width: 50px;
    border-radius: 10px;
}
.arme-name {
    font-size: 20px;
}
#momo-profile .arme-name {
    font-size: 15px;
}
.arme-container .arme-specificity {
    position: absolute;
    opacity: 0;
    right: 4px;
    bottom: 3px;
    font-size: 11px;
    transition: opacity 0.15s;
}
.arme-container:hover .arme-specificity {
    opacity: 1;
}
    /* Sac-à-dos */
.sacados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}
.sacados span {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
#varam-profile .sacados span {
    color: var(--orc-font--);
}
#barlow-profile .sacados span {
    color: var(--tieffelin-font--);
}
#momo-profile .sacados span {
    color: var(--nain-font--);
}


/* Sorts et Compétences section */
.sorts-majeurs, .sorts-mineurs {
    cursor: pointer;
}
.sorts-majeurs-title, .sorts-mineurs-title, .competences-title{
    height: 20px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: solid black 2px; 
    border-color: rgb(109, 0, 0);
    color: rgb(109, 0, 0)
}

.sorts-container li {
    position: relative;
}
.sorts-specificity {
    visibility: visible;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 300px;
    top: -250px;
    right: -455px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    background-image: url(../player_profile_picture/fond-ph.jpg);
    opacity: 0;
    z-index: 1000;
}
.sorts-specificity-container {
    margin: 6px;
}
.sorts-name {
    font-size: 18px;
    font-weight: 700;
}
.sorts-level {
    font-style: italic;
    font-size: 13px;
    color: black;
}
.sorts-attributs {
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: black;
}
.sorts-description {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 4px;
    color: black;
}
.sorts-classe {
    display: inline-block;
    background-color: rgb(109, 0, 0);
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
    border-radius: 2px;
}
.sorts-ref {
    margin-top: 3px;
}
.sorts-ref a{
    cursor: pointer;
    color: red;
    text-decoration: none;
    font-size: 14px;
}
.sorts-majeurs li:hover {
    color: rgb(109, 0, 0)

}
.sorts-mineurs li:hover {
    color:rgb(109, 0, 0)
}

.sorts-majeurs li:hover .sorts-specificity {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}
.sorts-mineurs li:hover .sorts-specificity {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

/* Compétences */
.competences-container ul li span {
    opacity: 1;
    font-size: 0px;
}
.competences-container li:hover span {
    display: flex;
    opacity: 1;
    font-size: 13px;
    transition: opacity 0.5s;
}
.competences-container li:hover strong {
    display: flex;
}
.competences-container li:hover {
    color: rgb(109, 0, 0);
    cursor: pointer;
}